@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1700733103556') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 30px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-sun:before {
  content: "\e7c2";
  color: yellow
}

.icon-yukuai:before {
  content: "\e678";
}

.icon-kele:before {
  content: "\e63c";
}

.icon-dangao:before {
  content: "\e602";
}

.icon-sr:before {
  content: "\e605";
}

